.navBar {
  width: 8%;
  &__menu {
    background-color: #002137;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 8%;
    & li {
      margin-bottom: 20px;
      &:hover {
        background-color: #002c49;
        cursor: pointer;
      }
      & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 10px 5px;
      }
    }
  }
  span {
    opacity: .6;
  }
}